.card {
    margin: 50px;
}
.select {
    color:grey;
}
.fa, .far, .fas  {
font-size: 180%;
font-weight: 600;

}
body {
    background-color: white;
}
.btnSlide{
   margin: 50px; 
}

.btn-right {
    float: right !important; 
}